:root{
  --clr-sand: #F7E4CBFF;
  --clr-soft-black: #0A121AFF;
  --clr-olive:#4E6659FF;
  --clr-white:#FFFFFFFF;
  --clr-coral: #FF5E6FFF;
  --ff-primary-body: Arial, Helvetica, sans-serif;
  --ff-primary-headline: Impact, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 1%;
  padding: 0;
  border: none;
}
